# IDE配置
.idea/
*.iml
*.iws
*.ipr
.vscode/

# 编译输出
/target/
/dist/
/node_modules/

# 日志文件
*.log

# 操作系统文件
.DS_Store
Thumbs.db

# 本地配置文件
application-local.yml
application-local.properties

# 编译缓存
/springboot/target/
/vue/node_modules/
