# 忽略 Maven 构建目录
springboot/target/
springboot/!.mvn/wrapper/maven-wrapper.jar
springboot/!**/src/main/**/target/
springboot/!**/src/test/**/target/
springboot/~/.m2/

# 忽略 Vue 构建和依赖目录
vue/node_modules/
vue/dist/
vue/.DS_Store
vue/npm-debug.log*
vue/yarn-debug.log*
vue/yarn-error.log*

# 忽略 IDE 和编辑器文件
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store

# 忽略日志文件
*.log

# 系统文件
.DS_Store
Thumbs.db
